/LolInfin.0de73707/
/x64/
/build/
/cmake-build-*/
/out/
/CMakeFiles/
/CMakeCache.txt
/cmake-install.cmake
/compile_commands.json
/CMakeUserPresets.json
/Testing/
/Makefile
/build.ninja
/.ninja_deps
/.ninja_log
/.idea/
/.vs/
/LolInfiniteVision.sln.DotSettings.user
/LolInfiniteVision.vcxproj.filters
/LolInfiniteVision.vcxproj.user
